{% extends 'main/layout.html' %}

{% block title %}Брестская крепость{% endblock %}

{% block content %}
<div class="page-block pb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                <img src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/h4.png"
                     alt="Брестская крепость"
                     class="img-responsive">
            </div>
            <div class="col-sm-10 col-xs-10">
                <h1 class="mt0 xs-pt5">Брестская крепость</h1>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="article wysiwyg">
                    <div style="position:relative; padding-top: 51%;">
                        <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/kjL8l99WHuc"
                                style="top:0; left:0; width:100%; height:100%; position:absolute">
                        </iframe>
                    </div>
                    <h3>Из всех городов Советского Союза именно Бресту выпала участь принять первый бой&nbsp;с&nbsp;немецкими захватчиками.&nbsp;</h3>
                    <hr />

                    <p>Ранним утром 22 июня 1941 года вражеской
                        бомбардировке подверглась Брестская крепость, в которой
                        на тот момент находились примерно 7 тыс.
                        советских воинов и члены семей командиров.
                    </p>

                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/1_0.jpg">
                                    </figure>
                                </div>
                                <div class="label-img__text">
                                    Памятник защитникам Брестской крепости.
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>Нападение на&nbsp;крепость было внезапным, поэтому гарнизон был&nbsp;застигнут врасплох.
                        Огнём с&nbsp;воздуха фашисты уничтожили водопровод и&nbsp;склады, прервали связь.
                        Гарнизон крепости понёс значительные потери.
                    </p>
                    <p>
                        <mark>Немецкое командование рассчитывало захватить крепость в&nbsp;течение нескольких часов,</mark>&nbsp;
                        но 45-я&nbsp;дивизия вермахта застряла в&nbsp;Бресте на&nbsp;неделю и&nbsp;со&nbsp;значительными потерями ещё&nbsp;
                        целый месяц подавляла отдельные очаги сопротивления героев &mdash; защитников Бреста.
                        Брестская крепость стала символом мужества, героической стойкости и&nbsp;доблести советских воинов.
                    </p>
                    <hr />

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    <mark>7—8&nbsp;АТАК</mark>
                                </h2>
                                <h3>
                                    <strong>ежедневно приходилось отбивать защитникам крепости</strong>
                                </h3>
                            </div>
                            <div class="col-sm-5">
                                <h2>
                                    <mark>6—7&nbsp;ТЫС.</mark>
                                </h2>
                                <h3>
                                    <strong>человек попали в&nbsp;немецкий плен</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr class="dark">
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/1_1.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Брестская крепость в&nbsp;день освобождения. 28&nbsp;июля 1944&nbsp;года. Великая Отечественная война 1941—1945&nbsp;годов.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>Неожиданная атака не&nbsp;позволила защитникам крепости
                        организовать оборонительные действия,
                        поэтому сопротивление было разделено на&nbsp;
                        несколько отдельных очагов. Самый сильный
                        отпор врагу оказали герои цитадели, Кобринского
                        и&nbsp;Волынского укреплений, где&nbsp;солдаты сражались
                        с&nbsp;немцами даже в&nbsp;штыковых атаках. По&nbsp;
                        воспоминаниям очевидцев, одиночная стрельба из&nbsp;
                        крепости была слышна вплоть до&nbsp;начала августа,
                        но&nbsp;всё таки&nbsp;героическое сопротивление защитников
                        было подавлено. Однако и&nbsp;потери вермахта оказались
                        значительны &mdash; 1121&nbsp;человек убитыми и&nbsp;ранеными.
                        Это&nbsp;составило 5&nbsp;%&nbsp;от&nbsp;всех потерь гитлеровской
                        армии в&nbsp;первую неделю войны.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/1_2.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Центральный музей Вооружённых Сил. Часть
                                        стены одного из&nbsp;казематов северо-западной части Брестской крепости.
                                        Надпись: «Я&nbsp;умираю, но&nbsp;не&nbsp;сдаюсь. Прощай, Родина. 20/VII-41».
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>Во время оккупации фашисты уничтожили в&nbsp;
                        городе 40&nbsp;тыс. мирных жителей и&nbsp;полностью
                        разрушили его&nbsp;экономику. Город Брест и&nbsp;
                        его&nbsp;знаменитая крепость встретили своих
                        освободителей 28&nbsp;июля 1944&nbsp;года, когда в&nbsp;
                        город вошли войска 1-го&nbsp;Белорусского фронта.
                    </p>
                    <div class="city-inner">
                        <div class="row">
                            <div class="col-md-7 col-sm-8">
                                <div class="city-inner__h">Композиционным центром мемориального комплекса «Брестская крепость-герой» является монумент «Мужество». Это обобщённый образ воина высотой 33,5 м</div>
                            </div>
                            <div class="col-md-5 col-sm-4 city-inner__wrap">
                                <div class="city-inner__img">
                                    <img class="img-responsive" src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/city-05.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/1_3.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">Холмские ворота. Мемориальный комплекс «Брестская крепость».</div>
                            </div>
                        </div>
                    </div>
                    <p>8&nbsp;мая&nbsp;1965&nbsp;года крепость получила звание
                        &laquo;Крепость-герой&raquo;.
                        В&nbsp;1971&nbsp;году&nbsp;крепость-герой &laquo;Брест&raquo; стала мемориальным комплексом.
                        Помимо части казарм цитадели, оставленных в&nbsp;память
                        потомкам в&nbsp;руинах, сюда входит Музей обороны
                        Брестской крепости, а&nbsp;также руины Белого дворца.
                        Центральным объектом мемориала является монумент
                        Мужество&raquo;, на&nbsp;обратной стороне которого размещены
                        рельефные композиции, представляющие отдельные эпизоды борьбы защитников крепости.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/brestskaya-krepost/1_4.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Ветеран-инвалид (ныне профессор Казахского
                                        государственного университета имени С.&nbsp;М.&nbsp;
                                        Кирова, доктор биологических наук) Владимир
                                        Фурсов у&nbsp;стены Брестской крепости. Открытие
                                        мемориала «Брестская крепость-герой»,
                                        25&nbsp;сентября 1971&nbsp;года. Репродукция.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>В комплекс мемориала также входит трёхъярусный некрополь,
                        где&nbsp;покоятся останки 850&nbsp;солдат-героев.
                        Примечательной частью мемориала является
                        скульптурная композиция &laquo;Жажда&raquo;, символизирующая
                        самый трагический эпизод обороны крепости-героя &mdash;
                        мучительную жажду, которую испытывали её&nbsp;защитники
                        из-за&nbsp;блокировки немцами доступа к&nbsp;реке. Памятник
                        представляет собой фигуру бойца, ползущего к&nbsp;реке с&nbsp;
                        каской в&nbsp;руке. 23&nbsp;февраля 1992&nbsp;года&nbsp;на&nbsp;территории
                        мемориала в&nbsp;Бресте появился музей &laquo;Боевой славы авиаторов&raquo;.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}