{% extends 'main/layout.html' %}

{% block title %}Керчь{% endblock %}

{% block content %}
<div class="page-block pb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                <img src="https://may9.ru/upload/i/images/hero/Kerch/h8.png"
                     alt="Керчь"
                     class="img-responsive">
            </div>
            <div class="col-sm-10 col-xs-10">
                <h1 class="mt0 xs-pt5">Керчь</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="article wysiwyg">
                    <div style="position:relative; padding-top: 51%;">
                        <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/JoaejAWm-Ww"
                                style="top:0; left:0; width:100%; height:100%; position:absolute">
                        </iframe>
                    </div>
                    <h3>Керчь была одним из первых городов, попавших под удар немецко-фашистских войск в начале войны.
                        За всё время войны через город четырежды проходила линия фронта и он дважды был оккупирован вражескими войсками.
                    </h3>
                    <hr />

                    <p>Во время оккупации погибли 15 тыс. мирных жителей, а более
                        14 тыс. керчан угнано в Германию на принудительные
                        работы. Первый раз город был захвачен в ноябре
                        1941 года после кровопролитных боёв.
                        Но уже 30 декабря в ходе
                        Керченско-Феодосийской десантной операции Керчь освободили
                        войска 51-й армии.
                    </p>


                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/Kerch/1_4.jpg">
                                    </figure>
                                </div>
                                <div class="label-img__text">
                                    Великая Отечественная война 1941—1945 годов. Район
                                    Керчи. Бронекатера с десантом в Керченском
                                    проливе. 1944 год.
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>В мае 1942 года фашисты сосредоточили крупные силы
                        на Керченском полуострове и начали новое наступление
                        на город. В результате тяжёлых и упорных боёв Керчь
                        снова была оставлена врагу. Легендарной страницей
                        истории Великой Отечественной войны стала упорная борьба и
                        длительная оборона в Аджимушкайских каменоломнях. Активную
                        борьбу с оккупантами вели подпольщики и ;партизаны.
                    </p>
                    <p>За 320 дней, пока город был в руках врага, оккупанты
                        разрушили все заводы и фабрики, сожгли все мосты
                        и суда, вырубили и сожгли парки и сады, уничтожили
                        электростанцию и телеграф, повредили железнодорожные линии
                        на полуострове. Керчь была почти полностью стёрта с лица земли.
                    </p>
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    <mark>320 ДНЕЙ</mark>
                                </h2>
                                <h3>
                                    <strong>город был оккупирован немецкими войсками</strong>
                                </h3>
                            </div>
                            <div class="col-sm-5">
                                <h2>
                                    <mark>15&nbsp;ТЫС.</mark>
                                </h2>
                                <h3>
                                    <strong>мирных жителей погибли за&nbsp;время оккупации</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr class="dark">
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/Kerch/1_1.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">Высадка частей морской пехоты в&nbsp;районе Керчи.</div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <mark>
                            Самую крупную десантную операцию во&nbsp;время обороны Керчи в&nbsp;1942&nbsp;году осуществил Керченско&#8209;Феодосийский десант.
                        </mark>
                        Благодаря ему&nbsp;оказались&nbsp;сорваны&nbsp;немецкие планы
                        наступления на&nbsp;Кавказ, к&nbsp;нефтяным месторождениям. Гитлеровцы хотели использовать ресурсурсы СССР для&nbsp;обеспечения своих войск. С&nbsp;наступлением 1943&nbsp;года немецкое командование считало Крым одним из&nbsp;важнейших плацдармов, поэтому к&nbsp;Керчи были стянуты огромные силы: танки, артиллерия, авиация. Кроме того, немцы установили мины в&nbsp;Керченском проливе, чтобы не&nbsp;допустить прорыва советских войск в&nbsp;оккупированный Крым. Но&nbsp;Красная Армия смогла осуществить успешное наступление.В ночь на&nbsp;1&nbsp;ноября 1943&nbsp;года началась Керченско&#8209;Эльтигенская десантная операция, в&nbsp;результате которой советским войскам удалось захватить и&nbsp;удержать плацдарм севернее Керчи. С&nbsp;этого подвига началось освобождение Керченского пролива и&nbsp;всего Крымского полуострова от&nbsp;врага.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/Kerch/1_2.jpg">
                                    </figure>
                                </div>
                                <div class="label-img__text">
                                    Раненые моряки лежат на&nbsp;палубе корабля. Черноморский флот.
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Эльтиген, Аджимушкай, Багерово &mdash; эти&nbsp;места политы кровью защитников&#8209;героев Керченского полуострова. Мужество воинов Отдельной Приморской армии отмечено самыми высокими наградами. За&nbsp;защиту и&nbsp;освобождение Керчи звание Героя Советского Союза получили 153&nbsp;человека. Город был&nbsp;освобождён 11&nbsp;апреля 1944&nbsp;года, а&nbsp;14&nbsp;сентября 1973&nbsp;года&nbsp;Керчи присвоено звание города&#8209;героя.
                    </p>
                    <div class="city-inner">
                        <div class="row">
                            <div class="col-md-7 col-sm-8">
                                <div class="city-inner__h">
                                    Мемориал «Аджимушкайские каменоломни» находится в 5 км от города Керчи. В войну каменоломни стали базой для партизан
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-4 city-inner__wrap">
                                <div class="city-inner__img">
                                    <img class="https://may9.ru/upload/i/images/hero/Kerch/kerc.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/Kerch/1_3.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Солдаты Красной Армии ведут бой&nbsp;в&nbsp;районе Керченского металлургического завода. Великая Отечественная война. Фотография снята в&nbsp;1943&nbsp;году.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Символом города&#8209;героя Керчи стал Обелиск Славы на&nbsp;горе Митридат. Монумент посвящён павшим в&nbsp;сражениях за&nbsp;освобождение Крыма в&nbsp;период с&nbsp;ноября 1943&nbsp;года по&nbsp;апрель 1944&nbsp;года.&nbsp;Открытый 8&nbsp;августа 1944&nbsp;года&nbsp;мемориал стал первым памятником, посвященным&nbsp;Великой Отечественной войне, на&nbsp;территории СССР. Памятник представляет собой трёхгранный обелиск из&nbsp;светло&#8209;серого камня высотой 24&nbsp;метра. Рядом на&nbsp;постаменте расположены три&nbsp;76&#8209;мм&nbsp;пушки и&nbsp;большая мемориальная доска в&nbsp;виде развёрнутой книги.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/Kerch/1_0.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Обелиск Славы бессмертным героям на&nbsp;горе Митридат в&nbsp;Керчи.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Другим известным памятником города&#8209;героя Керчи является &laquo;Парус&raquo;, воздвигнутый в&nbsp;честь легендарного Эльтигенского десанта (входит в&nbsp;мемориальный комплекс &laquo;Эльтиген&raquo;).&nbsp;Он&nbsp;был&nbsp;открыт 8&nbsp;мая&nbsp;1985&nbsp;года. В&nbsp;мемориальный комплекс также входят&nbsp;катер&#8209;мотобот на&nbsp;постаменте, землянка&#8209;госпиталь, выставка орудий времён войны, немецкий дот,&nbsp;памятник над&nbsp;братской могилой десантников&#8209;героев, &laquo;Парус&raquo; и&nbsp;музей Эльтигенского десанта.
                    </p>
                    <p>
                        Ещё одним комплексом, посвящённым героям боёв за&nbsp;Керчь, стали &laquo;Аджимушкайские каменоломни&raquo;. В&nbsp;1966&nbsp;году&nbsp;в&nbsp;них&nbsp;открылся музей, а&nbsp;в&nbsp;1982&nbsp;году&nbsp;&mdash; мемориальный комплекс с&nbsp;одноимённым названием.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}