{% extends 'main/layout.html' %}

{% block title %}Киев{% endblock %}

{% block content %}
<div class="page-block pb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                <img src="https://may9.ru/upload/i/images/hero/kiev/h7.png"
                     alt="Киев"
                     class="img-responsive">
            </div>
            <div class="col-sm-10 col-xs-10">
                <h1 class="mt0 xs-pt5">Киев</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="article wysiwyg">
                    <div style="position:relative; padding-top: 51%;">
                        <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4a9RU-EGGi8"
                                style="top:0; left:0; width:100%; height:100%; position:absolute">
                        </iframe>
                    </div>
                    <h3>Внезапный удар с&nbsp;воздуха по&nbsp;Киеву немецкие
                        войска нанесли 22&nbsp;июня 1941&nbsp;года&nbsp;&mdash; в&nbsp;самые
                        первые часы войны. 6&nbsp;июля был&nbsp;создан Комитет
                        по&nbsp;обороне города. С&nbsp;этого дня&nbsp;началась
                        героическая борьба за&nbsp;Киев, которая продолжалась 72&nbsp;дня.&nbsp;
                    </h3>
                    <hr />
                    <p>Защищали Киев не&nbsp;только советские солдаты, но&nbsp;и&nbsp;жители города.
                        Огромный вклад в&nbsp;оборону внесли отряды народного ополчения,
                        которых к&nbsp;началу июля насчитывалось 19. Из&nbsp;числа горожан было
                        сформировано 13&nbsp;истребительных батальонов. В&nbsp;защите Киева приняло
                        участие 33&nbsp;тыс. киевлян. В&nbsp;те&nbsp;тяжёлые июльские дни&nbsp;горожане
                        построили более 1400&nbsp;дотов, вручную вырыли 55&nbsp;км&nbsp;противотанковых рвов.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/kiev/1_1.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Жители Киева готовятся к&nbsp;обороне.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>Отвага и&nbsp;мужество защитников остановили вражеское наступление
                        на&nbsp;первой линии укреплений города.
                        <mark>
                            Взять Киев быстро фашистам не&nbsp;удалось.
                        </mark>&nbsp;&nbsp;&nbsp;&nbsp;
                        Однако 30&nbsp;июля 1941&nbsp;года германская армия предприняла новую
                        попытку штурма города, и&nbsp;10&nbsp;августа ей&nbsp;удалось прорвать оборону
                        на&nbsp;юго&#8209;западной окраине, но&nbsp;совместными усилиями народного
                        ополчения и&nbsp;регулярных войск был&nbsp;дан&nbsp;достойный отпор противнику.
                        К&nbsp;15&nbsp;августа 1941&nbsp;года Красная Армия отбросила гитлеровцев на&nbsp;
                        прежние позиции.
                        <mark>
                            Потери врага под&nbsp;Киевом насчитывали больше 100&nbsp;тыс. человек.
                        </mark>&nbsp;&nbsp;&nbsp;&nbsp;
                        Больше прямых штурмов города гитлеровцы не&nbsp;предпринимали. Под&nbsp;
                        Киевом надолго увязли в&nbsp;боях 17&nbsp;немецко&#8209;фашистских дивизий.
                        Такое длительное сопротивление защитников города вынудило врага
                        повернуть часть сил&nbsp;с&nbsp;московского направления на&nbsp;юг,&nbsp;в&nbsp;тыл&nbsp;защитникам
                        Киева. Наши войска были вынуждены отступить 19&nbsp;сентября 1941&nbsp;года.
                    </p>
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    <mark>160&nbsp;ТЫС.</mark>
                                </h2>
                                <h3>
                                    <strong>киевлян и&nbsp;жителей прилегающих сёл&nbsp;трудились над&nbsp;созданием баррикад</strong>
                                </h3>
                            </div>
                            <div class="col-sm-5">
                                <h2>
                                    <mark>200&nbsp;ТЫС.</mark>
                                </h2>
                                <h3>
                                    <strong>человек было мобилизовано 23&nbsp;июня 1941&nbsp;года</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr class="dark">
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/kiev/1_2.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Артиллерийские расчёты салютуют воинам Советской Армии, освободившим город Киев.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>Занявшие город немецко&#8209;фашистские захватчики нанесли
                        ему&nbsp;огромный урон. Погибли более 200&nbsp;тыс. киевлян, а&nbsp;около
                        100&nbsp;тыс.&nbsp;человек были отправлены в&nbsp;Германию на&nbsp;принудительные
                        работы. Жители города оказывали активное сопротивление фашистам.
                        В&nbsp;Киеве было организовано комсомольское и&nbsp;коммунистическое
                        подполья, которые боролись с&nbsp;оккупантами. Подпольщики&#8209;герои
                        уничтожили сотни фашистов, взорвали 500&nbsp;немецких автомобилей,
                        пустили под&nbsp;откос 19&nbsp;поездов, сожгли 18&nbsp;складов.
                    </p>
                    <div class="city-inner">
                        <div class="row">
                            <div class="col-md-7 col-sm-8">
                                <div class="city-inner__h">
                                    Монументальная скульптура «Родина-мать» на правом берегу Днепра открыта в составе музейного комплекса в 1981 году в День Победы
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-4 city-inner__wrap">
                                <div class="city-inner__img">
                                    <img class="img-responsive" src="https://may9.ru/upload/i/city/city2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img src="https://may9.ru/upload/i/images/hero/kiev/1_3.jpg">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Советские сапёры идут после проверки Киевского оперного театра.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>Киев был&nbsp;освобождён 6&nbsp;ноября 1943&nbsp;года. Защитники города и&nbsp;его&nbsp;жители
                        проявили удивительную храбрость и&nbsp;стойкость перед лицом врага. Президиум
                        Верховного Совета СССР в&nbsp;1961&nbsp;году&nbsp;учредил новую награду &mdash; медаль &laquo;За&nbsp;оборону Киева&raquo;.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/RIAN_22426.HR.ru.jpg" style="width: 1000px;">
                                    </figure>
                                </div>
                                    <div class="label-img__text">
                                        Монумент Победы, на&nbsp;площади Победы в&nbsp;городе Киеве, установлен в&nbsp;память погибших в&nbsp;годы Великой Отечественной войны.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p>В 1965&nbsp;году&nbsp;Киеву&nbsp;присвоено звание города&#8209;героя. На&nbsp;площади
                        Победы 8&nbsp;мая&nbsp;1982&nbsp;года&nbsp;был&nbsp;установлен обелиск в&nbsp;виде 40&#8209;метрового
                        облицованного белым мрамором и&nbsp;увенчанного позолоченной звездой пилона.
                        На&nbsp;пилоне отчеканена надпись: &laquo;Городу&#8209;герою Киеву&raquo;.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}