{% extends 'main/layout.html' %}

{% block title %}Ленинград{% endblock %}

{% block content %}
<div class="page-block pb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                <img src="https://may9.ru/upload/i/images/hero/Leningrad/herb.png"
                     alt="Ленинград"
                     class="img-responsive">
            </div>
            <div class="col-sm-10 col-xs-10">
                <h1 class="mt0 xs-pt5">Ленинград</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="article">
                    <div style="position:relative; padding-top: 51%;">
                        <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/R6Y_BmUWlP8"
                                style="top:0; left:0; width:100%; height:100%; position:absolute">
                        </iframe>
                    </div>
                    <h3 align="justify">
                        Ленинград был&nbsp;особым городом для&nbsp;СССР, поэтому в&nbsp;планах гитлеровского командования было полное уничтожение города и&nbsp;истребление его&nbsp;населения.
                    </h3>
                    <hr />
                    <p align="justify">
                        Ожесточённые бои&nbsp;на&nbsp;подступах к&nbsp;Ленинграду начались 10&nbsp;июля 1941&nbsp;года. Численное превосходство изначально было на&nbsp;стороне противника: почти в&nbsp;2,5&nbsp;раза больше солдат, в&nbsp;10&nbsp;раз&nbsp;&mdash; самолётов, в&nbsp;1,2&nbsp;раза &mdash; танков и&nbsp;почти в&nbsp;6&nbsp;раз&nbsp;&mdash; миномётов. В&nbsp;итоге 8&nbsp;сентября 1941&nbsp;года гитлеровцам удалось захватить Шлиссельбург и&nbsp;таким образом взять под&nbsp;свой контроль исток Невы. В&nbsp;результате Ленинград был&nbsp;блокирован с&nbsp;суши (отрезан от&nbsp;Большой земли).&nbsp;Гитлеровцы рассчитывали&nbsp;голодом принудить город к&nbsp;сдаче.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/i/images/hero/Leningrad/4.jpg" style="width:820px;">
                                    </figure>
                                </div>
                                    <div class="label-img__text" align="justify">
                                        Зенитный расчёт ведёт огонь по&nbsp;противнику на&nbsp;улицах блокадного Ленинграда.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        С этого момента начался отсчёт трагической истории почти 900&#8209;дневной блокады и&nbsp;осады города, продолжавшейся до&nbsp;января 1944&nbsp;года. Жертвами организованного фашистами голода стали более 650&nbsp;тыс.&nbsp;жителей.
                        <mark>
                            Несмотря на&nbsp;голод и&nbsp;непрерывные артиллерийские
                            обстрелы врага, ленинградцы сумели выстоять и&nbsp;продолжить героическое сопротивление.
                        </mark>
                    </p>
                    <p align="justify">
                        Важными фактами в&nbsp;истории военной летописи города на&nbsp;Неве стали следующие цифры: более 500&nbsp;тыс. ленинградцев выходили на&nbsp;работы по&nbsp;строительству оборонительных сооружений; ими&nbsp;были построены 35&nbsp;км&nbsp;баррикад и&nbsp;противотанковых рвов, а&nbsp;также более 4&nbsp;тыс. дзотов и&nbsp;дотов; оборудовано 22&nbsp;тыс. огневых точек. Ценой собственного здоровья и&nbsp;жизни мужественные ленинградцы изготовили для&nbsp;фронта тысячи полевых и&nbsp;морских орудий, отремонтировали и&nbsp;выпустили с&nbsp;конвейера 2&nbsp;тыс. танков, изготовили 10&nbsp;млн&nbsp;снарядов и&nbsp;мин,&nbsp;225&nbsp;тыс. автоматов и&nbsp;12&nbsp;тыс. миномётов.
                    </p>
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    <mark>1,5&nbsp;ТЫС.</mark>
                                </h2>
                                <h3>
                                    <strong>ленинградцев ежедневно выходили на&nbsp;работы по&nbsp;строительству оборонительных сооружений</strong>
                                </h3>
                            </div>
                            <div class="col-sm-5">
                                <h2>
                                    <mark>35&nbsp;КМ</mark>
                                </h2>
                                <h3>
                                    <strong>баррикад, противотанковых препятствий и&nbsp;укреплений построено горожанами</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr class="dark">
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/i/images/hero/Leningrad/2.jpg" style="width:820px;">
                                    </figure>
                                </div>

                                    <div class="label-img__text" align="justify">
                                        Патрульный отряд в&nbsp;блокадном Ленинграде. 1942&nbsp;год. Великая Отечественная война 1941—1945&nbsp;годов.

                                </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        Прорыв блокады Ленинграда произошёл 18&nbsp;января 1943&nbsp;года. Его&nbsp;осуществляли&nbsp;войска Волховского и&nbsp;Ленинградского фронтов в&nbsp;ходе операции &laquo;Искра&raquo;. Между линией фронта и&nbsp;Ладожским озером был&nbsp;образован коридор 8&mdash;11&nbsp;км&nbsp;шириной. А&nbsp;через год&nbsp;Ленинград был&nbsp;полностью свободен от&nbsp;блокады. 22&nbsp;декабря 1942&nbsp;года&nbsp;Указом Президиума ВС&nbsp;СССР была учреждена медаль &laquo;За&nbsp;оборону Ленинграда&raquo;, которой удостоились около 1,5&nbsp;млн&nbsp;защитников города. Впервые городом&#8209;героем Ленинград был&nbsp;назван в&nbsp;приказе Сталина от&nbsp;1&nbsp;мая&nbsp;1945&nbsp;года. В&nbsp;1965&nbsp;году&nbsp;это&nbsp;звание ему&nbsp;было присвоено официально.
                    </p>
                    <p align="justify">
                        Трагическим событиям 1941&mdash;1944&nbsp;годах в&nbsp;городе на&nbsp;Неве посвящено множество памятников и&nbsp;монументов. 9&nbsp;мая&nbsp;1975&nbsp;года, в&nbsp;честь 30&#8209;летия Победы в&nbsp;Великой Отечественной войне, был&nbsp;открыт Мемориал героям &mdash; защитникам Ленинграда. Он&nbsp;представляет собой территорию площадью 1, 2&nbsp;тыс. кв.&nbsp;м&nbsp;с&nbsp;величественным гранитным обелиском в&nbsp;центре разорванного кольца, внутри расположены скульптурные композиции &laquo;Защитники города&raquo; и&nbsp;&laquo;Блокада&raquo;. В&nbsp;подземной части мемориала расположен музей, содержащий экспонаты и&nbsp;документы, отражающие подвиг защитников Ленинграда и&nbsp;его&nbsp;жителей.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/RIAN_797057.HR.ru.jpg" style="width: 820px;">
                                    </figure>
                                </div>

                                    <div class="label-img__text" align="justify">
                                        Фрагмент монумента «Героическим защитникам Ленинграда», основанного в&nbsp;1975&nbsp;году.
                                    </div>

                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        Скорбным памятником, посвящённым ленинградцам &mdash; жертвам фашизма, является Пискарёвское кладбище, торжественное открытие которого состоялось 9&nbsp;мая&nbsp;1960&nbsp;года. Монумент &laquo;Родина&#8209;мать&raquo; &mdash; центральная композиция мемориала. Памятник представляет собой величественную фигуру женщины с&nbsp;гирляндой из&nbsp;дубовых листьев в&nbsp;руках, оплетённых траурной лентой, &mdash; &laquo;Родина&#8209;мать&raquo; оплакивает своих героев. Частью Пискарёвского кладбища стала и&nbsp;траурная стела с&nbsp;горельефами, изображающими эпизоды из&nbsp;жизни и&nbsp;борьбы героев Ленинграда.
                    </p>
                    <div class="city-inner">
                        <div class="row">
                            <div class="col-md-7 col-sm-8">
                                <div class="city-inner__h">
                                    Памятником, посвящённым ленинградцам — жертвам войны, является Пискарёвское кладбище, торжественное открытие которого состоялось 9 мая 1960 года
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-4 city-inner__wrap">
                                <div class="city-inner__img">
                                    <img class="img-responsive"
                                         src="https://may9.ru/i/city/city-01.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        На главных рубежах обороны города&#8209;героя можно увидеть памятники так&nbsp;называемого Зелёного пояса Славы. В&nbsp;1941&nbsp;году здесь были остановлены войска противника, и&nbsp;в&nbsp;честь этого в&nbsp;60&#8209;х&nbsp;годах прошлого века был&nbsp;возведён комплекс памятных сооружений. Одним из&nbsp;них&nbsp;является &laquo;Разорванное кольцо&raquo; &mdash; мемориал на&nbsp;западном берегу Ладожского озера. Эта&nbsp;скульптура в&nbsp;виде двух согнутых полукругом железных арок была открыта в&nbsp;1966&nbsp;году.&nbsp;Она&nbsp;символизирует блокадное кольцо, разорванное Дорогой жизни&nbsp;&mdash; трассой по&nbsp;льду Ладожского&nbsp;озера, по&nbsp;которой в&nbsp;осаждённый город доставлялось продовольствие.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/RIAN_499671.HR.ru.jpg" style="width: 820px;">
                                    </figure>
                                </div>

                                    <div class="label-img__text" align="justify">
                                        Монумент «Разорванное кольцо» на&nbsp;берегу Ладожского озера.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        Ещё одним мемориалом Зелёного пояса славы является &laquo;Цветок жизни&raquo; во&nbsp;Всеволожском районе Ленинградской области. Скульптура, изображающая цветок, была открыта в&nbsp;1968&nbsp;году и&nbsp;посвящена погибшим детям блокадного города. На&nbsp;каждом лепестке изображено лицо улыбающегося мальчика и&nbsp;слова: &laquo;Пусть всегда будет солнце&raquo;.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}