{% extends 'main/layout.html' %}

{% block title %}Минск{% endblock %}

{% block content %}
<div class="page-block pb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                <img src="https://may9.ru/upload/i/images/hero/Minsk/h9.png"
                     alt="Минск"
                     class="img-responsive">
            </div>
            <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0 xs-pt5">Минск</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="article">
                    <div style="position:relative; padding-top: 51%;">
                        <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/Xz92juq8I8Y"
                                style="top:0; left:0; width:100%; height:100%; position:absolute">
                        </iframe>
                    </div>
                    <h3 align="justify">
                        Минск с первых дней Великой Отечественной войны оказался в самом центре сражений. Передовые части гитлеровской армии подошли к городу 26 июня 1941 года.
                    </h3>
                    <hr />
                    <p align="justify">Их встретила только одна 64&#8209;я стрелковая
                        дивизия, которая за три дня ожесточённых боёв уничтожила около 300 авто- и бронемашин противника, а также много танковой техники. 27 июня гитлеровцев удалось отбросить на десять километров от Минска. Тем не менее после упорных и тяжёлых боёв 28 июня советские войска были вынуждены отступить и оставить город.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/i/images/hero/Minsk/1_4.jpg" style="width:820px;">
                                    </figure>
                                </div>
                                    <div class="label-img__text" align="justify">
                                        Солдаты стреляют из пулемёта.
                                </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        Фашисты установили в Минске жёсткий оккупационный режим. За период оккупации было уничтожено огромное количество как военнопленных, так и мирных жителей. Но мужественные минчане не покорились врагу, в городе начали создаваться подпольные группы и диверсионные отряды, в которых состояли даже антифашисты зарубежных стран. <mark>На счету героев&#8209;подпольщиков свыше 1,5 тыс. диверсий,</mark>    в результате которых в Минске было взорвано несколько объектов военного и административного значения, а также неоднократно выводился из строя городской железнодорожный узел. <mark>Особо отличились во время оккупационного периода Минска партизанка Н. Троян и подпольщики М. Осипова и Е. Мазаник &mdash; они уничтожили в городе главу немецко&#8209;фашистской администрации,</mark>     комиссара Белоруссии В. Кубе.
                    </p>
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    <mark>3 ВОЛНЫ</mark>
                                </h2>
                                <h3>
                                    <strong>бомбардировщиков по 47 самолётов в каждой 24 июня 1941 года атаковали город</strong>
                                </h3>
                            </div>
                            <div class="col-sm-5">
                                <h2>
                                    <mark>20—30 МИНУТ</mark>
                                </h2>
                                <h3>
                                    <strong>было между бомбовыми атаками</strong>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr class="dark">
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/i/images/hero/Minsk/1_1.jpg" style="width:820px;">
                                    </figure>
                                </div>

                                    <div class="label-img__text" align="justify">
                                        Жители Минска встречают воинов 2&#8209;го Белорусского фронта. 1944 год. Великая Отечественная война 1941—1945 годов.

                                </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        За проявленное мужество и героизм 600 участников минского подполья были награждены орденами и медалями, 8 человек получили звание Героя Советского Союза. 26 июня 1974 года Минску было присвоено звание города&#8209;героя. В 1985 году, в честь 40&#8209;летия Победы в Минске, на проспекте Победителей установлен 45&#8209;метровый бетонный обелиск &laquo;Город&#8209;герой&raquo;. У его подножия расположен бронзовый монумент &laquo;Родина&#8209;мать&raquo; в виде женщины, высоко поднявшей над головой фанфары Победы.
                    </p>
                    <div class="city-inner">
                        <div class="row">
                            <div class="col-md-7 col-sm-8">
                                <div class="city-inner__h">
                                    Скульптура &laquo;Родина-мать&raquo; дополняет архитектурно-скульптурный ансамбль Белорусского государственного музея истории Великой Отечественной войны
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-4 city-inner__wrap">
                                <div class="city-inner__img">
                                    <img class="img-responsive"
                                         src="https://may9.ru/upload/i/images/hero/Minsk/minsk.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/i/images/hero/Minsk/1_0.jpg" style="width:820px;">
                                    </figure>
                                </div>
                                    <div class="label-img__text" align="justify">
                                        Мемориальный комплекс «Курган Славы» — памятник Великой Отечественной войны. Четыре стилизованных штыка символизируют 1&#8209;й, 2&#8209;й, 3&#8209;й Белорусские и 1&#8209;й Прибалтийский фронты, освобождавшие Белоруссию. Смолевичский район.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        На подъезде к Минску расположен один из самых красивых и величественных памятников героям Великой Отечественной войны &mdash; &laquo;Курган Славы&raquo;. В 1944 году восточнее Минска в результате операции &laquo;Багратион&raquo; было взято в окружение и пленено более 100 тыс. немецких солдат и офицеров. В 1969 году на этом месте был насыпан огромный курган, на вершине которого установили обелиск. Общая высота памятника &mdash; 70 м.
                    </p>
                    <div class="label-wrap">
                        <div class="label-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <figure>
                                        <img
                                                src="https://may9.ru/upload/RIAN_893259.HR.ru.jpg" style="width: 820px;">
                                    </figure>
                                </div>
                                    <div class="label-img__text" align="justify">
                                        Монумент на площади Победы в память героев, освободивших Минск от Фашистов в годы Великой Отечественной войны 1941-1945 годов.
                                </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        Ещё одним памятным местом в Минске является площадь Победы в центре города (проспект Независимости). В 1954 году здесь был установлен монумент из серого гранита в честь погибших партизан и воинов Красной Армии. На его вершине находится трёхметровый орден Победы из многоцветной смальты и бронзы. Общая высота монумента &mdash; 40 м. В июле 1961 года перед памятником был зажжён Вечный огонь.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}