{% extends 'main/layout.html' %}

{% block title %}Москва{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                    <img src="https://may9.ru/upload/i/images/hero/Moscow/h2.png"
                         alt="Москва"
                         class="img-responsive">
                </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0 xs-pt5">Москва</h1>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article">
                        <div style="position:relative; padding-top: 51%;">
                            <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/fJQ4-LXd298"
                                    style="top:0; left:0; width:100%; height:100%; position:absolute">
                            </iframe>
                        </div>
                        <h3 align="justify">
                            В агрессивных планах фашистской Германии захват Москвы имел первостепенное значение, так&nbsp;как&nbsp;именно с&nbsp;падением столицы связывалась полная победа немецких войск над&nbsp;СССР.&nbsp;</h3>

<hr />
<p align="justify">Для захвата города был&nbsp;разработан план наступательной операции
    под&nbsp;кодовым названием &laquo;Тайфун&raquo;, в&nbsp;соответствии с&nbsp;которым были предприняты два&nbsp;крупных наступления на&nbsp;Москву в&nbsp;октябре и&nbsp;ноябре 1941&nbsp;года. Силы были неравными. Для&nbsp;первой крупномасштабной операции гитлеровское командование использовало 74&nbsp;дивизии (включая 22&nbsp;моторизованные и&nbsp;танковые), 1,8&nbsp;млн&nbsp;офицеров и&nbsp;солдат, 1390&nbsp;самолётов, 1700&nbsp;танков, 14&nbsp;тыс. миномётов и&nbsp;орудий. Вторая операция насчитывала 51&nbsp;боеспособную дивизию. Со&nbsp;стороны советских войск насчитывалось 1,2&nbsp;млн&nbsp;человек, 677&nbsp;самолётов, 970&nbsp;танков и&nbsp;7600&nbsp;миномётов и&nbsp;орудий.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Moscow/1_1.jpg"
                         style="width:820px;">
                </figure>
            </div>

                <div class="label-img__text" align="justify">
                    Лыжные отряды Красной Армии направляются на&nbsp;фронт. Великая Отечественная война 1941—1945&nbsp;годов. Москва. Зима 1941—1942&nbsp;годов. Репродукция фотографии.                </div>

        </div>
    </div>
</div>                                    <p align="justify"><mark>В результате ожесточённых сражений,
                        которые продолжались более 200&nbsp;дней, враг был&nbsp;отброшен к&nbsp;западу от&nbsp;Москвы на&nbsp;80&mdash;250&nbsp;км.</mark>&nbsp;&nbsp;&nbsp;&nbsp;Это&nbsp;событие укрепило дух&nbsp;всего советского народа и&nbsp;Красной Армии, развеяло миф&nbsp;о&nbsp;непобедимости немецкой армии. За&nbsp;образцовое выполнение боевых заданий 36&nbsp;тыс. защитников города были награждены орденами и&nbsp;медалями, а&nbsp;110&nbsp;человек удостоены звания Героя Советского Союза. Медалью &laquo;За&nbsp;оборону Москвы&raquo; были награждены более миллиона воинов. Указом от&nbsp;8&nbsp;мая&nbsp;1965&nbsp;года&nbsp;Москве был&nbsp;присвоено почётное звание города&#8209;героя.</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>774&nbsp;ТАНКА</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>участвовало в&nbsp;контрнаступлении</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>НА&nbsp;200&nbsp;КМ</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>были отброшены немецкие войска</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/RIAN_5479004.HR.ru.jpg"
                         style="width: 820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Оборона Москвы. Бои&nbsp;на&nbsp;можайском направлении. Подразделение идет в&nbsp;атаку.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Событиям военных лет&nbsp;в&nbsp;Москве
                        посвящено множество мемориалов и&nbsp;памятников. Один из&nbsp;самых известных &mdash; Могила Неизвестного Солдата&nbsp;в&nbsp;Александровском саду (северная сторона Кремля).&nbsp;В&nbsp;декабре 1966&nbsp;года&nbsp;руководством города было предложено создать памятник всесоюзного значения, посвящённый всем солдатам&#8209;героям, погибшим при&nbsp;защите Москвы. Мемориал представляет собой надгробную плиту с&nbsp;бронзовым боевым знаменем, на&nbsp;котором лежит солдатская каска и&nbsp;лавровая ветвь.</p>

<p>Известной достопримечательностью города является и&nbsp;мемориал Победы, расположенный на&nbsp;Поклонной горе в&nbsp;Москве. Он&nbsp;был&nbsp;задуман ещё&nbsp;в&nbsp;1958&nbsp;году в&nbsp;честь победы советского народа в&nbsp;Великой Отечественной войне. Официальное открытие мемориала состоялось 9&nbsp;мая&nbsp;1995&nbsp;года.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        Монумент советскому полководцу Г. Жукову установлен 8 мая 1995 года в Москве на Манежной площади перед Историческим музеем                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/i/images/hero/Moscow/city-03.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/жуков.jpg" style="width:820px;">
                </figure>
            </div>

                <div class="label-img__text" align="justify">
                    Памятник Г.&nbsp;Жукову на&nbsp;Красной площади.                </div>


        </div>
    </div>
</div>                                    <p align="justify">Мемориал представляет собой комплекс,
                        раскинувшийся на&nbsp;135&nbsp;га&nbsp;земли и&nbsp;включающий Центральный музей Великой Отечественной войны 1941&mdash;1945&nbsp;гг.,&nbsp;монумент Победы, три&nbsp;храма и&nbsp;несколько скульптурных композиций.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Moscow/1_0.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    9&nbsp;мая&nbsp;1977&nbsp;года в&nbsp;столице был&nbsp;открыт обелиск, сооружённый в&nbsp;ознаменование присвоения Москве почётного звания города&#8209;героя. Авторы проекта — лауреаты Государственной премии Г.&nbsp;Захаров и&nbsp;З.&nbsp;Чернышёва и&nbsp;заслуженный скульптор РСФСР А.&nbsp;Щербаков.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Немало памятников героям войны находится
                        и&nbsp;в&nbsp;Московской области. Например, скульптурная композиция &laquo;Противотанковые ежи&raquo;, которая расположена в&nbsp;Химкинском районе Московской области, по&nbsp;адресу: Ленинградское шоссе, 23&#8209;й&nbsp;км.&nbsp;Мемориал представляет собой стальные балки, преграждающие путь вражеским танкам при&nbsp;подходе в&nbsp;Москву. Памятник был&nbsp;сооружён в&nbsp;декабре 1966&nbsp;года&nbsp;в&nbsp;честь Иваново&#8209;Вознесенской и&nbsp;четырёх московских дивизий народного ополчения, сражавшихся на&nbsp;подступах к&nbsp;Москве.</p>

<p align="justify">Другим величественным памятником является мемориальный комплекс
    &laquo;Штыки&raquo;. Он&nbsp;расположен на&nbsp;40&#8209;м&nbsp;км&nbsp;Ленинградского шоссе, у&nbsp;въезда в&nbsp;город Зеленоград. Зимой 1941&mdash;1942&nbsp;годов&nbsp;на&nbsp;этом месте хоронили павших воинов&#8209;героев, защищавших Москву. В&nbsp;1960&#8209;х&nbsp;годах&nbsp;здесь были захоронены останки погибших солдат, обнаруженных при&nbsp;проведении строительных работ в&nbsp;городе Зеленограде. В&nbsp;1974&nbsp;году комплекс был&nbsp;открыт официально. Предположительно&nbsp;в&nbsp;этой братской могиле покоятся около 800&nbsp;героев. Название мемориалу дал&nbsp;центральный обелиск в&nbsp;виде стилизованного изображения трёх штыков.</p>





                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
 {% endblock %}