{% extends 'main/layout.html' %}

{% block title %}Новороссийск{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                                            <img src="https://may9.ru/upload/i/images/hero/Novorossiysk/h3.png"
                             alt="Новороссийск"
                             class="img-responsive">
                                    </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0 xs-pt5">Новороссийск</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article wysiwyg">
                                                <div
                                                        style="position:relative; height:0; padding-top: 51%;"><iframe allow="encrypted-media" allowfullscreen="" frameborder="0"
                                                                                                                       src="https://www.youtube.com/embed/awoHD85ffT4"
                                                                                                                       style="top:0; left:0; width:100%; height:100%; position:absolute"></iframe></div>



<h3>После того как&nbsp;советские войска сорвали немецкий план проведения наступательных операций на&nbsp;кавказском направлении, гитлеровское командование начало атаки на&nbsp;Новороссийск, чтобы с&nbsp;его&nbsp;захватом начать поэтапно продвигаться вдоль южного побережья Чёрного моря.</h3>

<hr />
<p>Для защиты Новороссийска 17&nbsp;августа 1942&nbsp;года&nbsp;был&nbsp;создан Новороссийский оборонительный район, в&nbsp;который входили 47&#8209;я&nbsp;армия, моряки Азовской военной флотилии и&nbsp;Черноморского флота. В&nbsp;городе активно создавались отряды народного ополчения, было построено свыше 200&nbsp;огневых оборонных точек и&nbsp;командных пунктов, была оборудована полоса противотанковых и&nbsp;противопехотных препятствий длиной более 30&nbsp;километров.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img
                            src="https://may9.ru/upload/i/images/hero/Novorossiysk/1_3.jpg" style="height: 750px;">
                </figure>
            </div>
                <div class="label-img__text">
                    Бойцы ведут огонь по&nbsp;противнику из&nbsp;проёма окна на&nbsp;окраине Новороссийска.                </div>

        </div>
    </div>
</div>                                    <p>Особо отличились в&nbsp;борьбе за&nbsp;Новороссийск корабли Черноморского флота. Так,&nbsp;в&nbsp;начале сентября 1942&nbsp;года&nbsp;эскадренный миноносец &laquo;Сообразительный&raquo; и&nbsp;лидер эскадренных миноносцев &laquo;Харьков&raquo; нанесли мощные артиллерийские удары по&nbsp;скоплениям немецких войск на&nbsp;подступах к&nbsp;городу. Но&nbsp;силы были неравными, и&nbsp;7&nbsp;сентября 1942&nbsp;года, преодолев героическое сопротивление защитников Новороссийска, врагу удалось войти в&nbsp;город и&nbsp;захватить несколько административных объектов. Но&nbsp;уже&nbsp;через четыре дня&nbsp;гитлеровцы были остановлены в&nbsp;юго&#8209;восточной части города и&nbsp;были вынуждены перейти к&nbsp;обороне.</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>28&nbsp;КВ.&nbsp;КМ</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>составляла площадь Малой Земли</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>17 680&nbsp;ИМЁН</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>погибших защитников установлены на&nbsp;сегодняшний день</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Novorossiysk/1_1.jpg">
                </figure>
            </div>
                <div class="label-img__text">
                    Заместитель командира 46&#8209;го&nbsp;гвардейского авиационного полка Серафима Амосова (справа) даёт задание перед вылетом.                </div>

        </div>
    </div>
</div>                                    <p><mark>Легендарной страницей в&nbsp;истории сражений за&nbsp;освобождение Новороссийска стала высадка в&nbsp;ночь на&nbsp;4&nbsp;февраля 1943&nbsp;года&nbsp;морского десанта, возглавляемого майором Цезарем Куниковым.</mark>&nbsp;&nbsp;&nbsp;&nbsp;Это&nbsp;произошло на&nbsp;южном рубеже города&#8209;героя, в&nbsp;районе населённого пункта Станички. Своеобразный плацдарм площадью в&nbsp;30&nbsp;кв.&nbsp;км&nbsp;вошёл в&nbsp;летопись Великой Отечественной войны под&nbsp;названием Малая Земля. Боевые действия на&nbsp;Малой Земле стали началом разгрома фашистов в&nbsp;черте города и&nbsp;порта, где&nbsp;они&nbsp;построили более 500&nbsp;оборонительных сооружений.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Novorossiysk/1_2.jpg">
                </figure>
            </div>
                <div class="label-img__text">
                    Колонна всадников и&nbsp;танк вступают в&nbsp;город Новороссийск.                </div>

        </div>
    </div>
</div>                                    <p>Сражение за&nbsp;Новороссийск длилось 225&nbsp;дней и&nbsp;закончилось полным освобождением города 16&nbsp;сентября 1943&nbsp;года. За&nbsp;мужество и&nbsp;отвагу, проявленные в&nbsp;боях, 21&nbsp;защитник Новороссийска и&nbsp;Малой Земли&nbsp;был&nbsp;удостоен звания Героя Советского Союза. Ещё&nbsp;сотни таких же&nbsp;героев из&nbsp;числа солдат и&nbsp;офицеров награждены орденами и&nbsp;медалями. А&nbsp;14&nbsp;сентября 1973&nbsp;года, в&nbsp;честь 30&#8209;летия победы над&nbsp;силами вермахта при&nbsp;защите Северного Кавказа, Новороссийск получил звание города&#8209;героя.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        Мемориал «Малая Земля» находится в Новороссийске на побережье Чёрного моря в районе мыса Мысхако. Он был открыт 16 сентября 1982 года                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/i/images/hero/Novorossiysk/city-04.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Novorossiysk/1_4.jpg">
                </figure>
            </div>
                <div class="label-img__text">
                    Великая Отечественная война 1941—1945&nbsp;годов. Новороссийск после бомбёжки. Сентябрь 1943&nbsp;года.                </div>
        </div>
    </div>
</div>                                    <p>В память о&nbsp;событиях военных лет&nbsp;на&nbsp;территории плацдарма Малая Земля в&nbsp;1982&nbsp;году&nbsp;открыли одноимённый мемориальный комплекс. Композиция из&nbsp;гранита и&nbsp;бронзы, образующая наклонную треугольную арку, напоминает нос&nbsp;десантного корабля, застывшего в&nbsp;стремительном рывке из&nbsp;моря на&nbsp;берег. На&nbsp;левой стороне находится скульптурная многофигурная группа &laquo;Десант&raquo;: командир, моряк, пехотинец и&nbsp;девушка&#8209;санинструктор. Противоположный борт корабля уходит в&nbsp;море, на&nbsp;нём&nbsp;размещён барельеф &mdash; бойцы, готовые к&nbsp;атаке.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Novorossiysk/1_0.jpg">
                </figure>
            </div>
                <div class="label-img__text">
                    Мемориальный комплекс «Малая Земля» в&nbsp;Новороссийске.                </div>

        </div>
    </div>
</div>                                    <p>Не забыты Новороссийском и&nbsp;герои&#8209;матросы. В&nbsp;1968&nbsp;году, в&nbsp;честь 25&#8209;летия битвы за&nbsp;город, был&nbsp;торжественно открыт памятник героическим морякам&#8209;черноморцам &mdash; постамент в&nbsp;виде высокой волны, по&nbsp;которой несётся в&nbsp;атаку катер ТКА-341.</p>




                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}