{% extends 'main/layout.html' %}

{% block title %}Одесса{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                                            <img src="https://may9.ru/upload/i/images/hero/Odessa/h5.png"
                             alt="Одесса"
                             class="img-responsive">
                                    </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0">Одесса</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article">
                                                <div
                                                        style="position:relative; height:0; padding-top: 51%;">
                                                    <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/bnCKNDcP_XY"
                                                            style="top:0; left:0; width:100%; height:100%; position:absolute"></iframe></div>



<h3 align="justify">В августе 1941&nbsp;года&nbsp;Одесса была окружена немецкими войсками. Оборона
    Одессы длилась 73&nbsp;дня&nbsp;силами армии и&nbsp;народного ополчения.&nbsp;</h3>

<hr />
<p align="justify">С материка город защищала Приморская армия, с&nbsp;моря &mdash; корабли
    Черноморского флота, поддерживаемые береговой артиллерией. Войска противника численностью превосходили&nbsp;защитников Одессы в&nbsp;пять раз.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Odessa/1_3.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Великая Отечественная война 1941—1945&nbsp;годов. Сентябрь 1941&nbsp;года. Торпедные катера охраняют подступы к&nbsp;городу с&nbsp;моря.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Первый штурм Одессы румынскими
                        и&nbsp;немецкими войсками был&nbsp;осуществлён 20&nbsp;августа 1941&nbsp;года. Наступление 17&nbsp;дивизий и&nbsp;7&nbsp;бригад противника было остановлено советскими войсками в&nbsp;10&mdash;14&nbsp;км&nbsp;от&nbsp;городских рубежей. Ежедневно 10&mdash;12&nbsp;тыс. женщин и&nbsp;подростков выходили на&nbsp;заградительные работы: они&nbsp;рыли окопы, натягивали проволочные заграждения. <mark>За время обороны одесситы установили 40&nbsp;тыс. мин,&nbsp;вырыли более 250&nbsp;км&nbsp;противотанковых рвов, соорудили более 250&nbsp;заградительных баррикад на&nbsp;улицах города.</mark>&nbsp;&nbsp;&nbsp;&nbsp;Подростки, работавшие на&nbsp;заводах и&nbsp;фабриках, изготовили около 300&nbsp;тыс. ручных гранат и&nbsp;столько же&nbsp;противотанковых и&nbsp;противопехотных мин. Почти 38&nbsp;тыс. одесситов ушли в&nbsp;старые катакомбы, чтобы принять участие в&nbsp;обороне родного города.</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>60&nbsp;ЛЁГКИХ ТАНКОВ</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>изготовили рабочие Одесского машиностроительного завода для&nbsp;обороны города</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>200&nbsp;ОФИЦЕРОВ</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>немецкой и&nbsp;румынской армий погибли в&nbsp;диверсиях партизан</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Odessa/1_1.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Жители Одессы во&nbsp;время строительства баррикад. Июль 1941&nbsp;года. Великая Отечественная война 1941—1945&nbsp;годов.                </div>

        </div>
    </div>
</div>                                    <p align="justify">В конце сентября Ставка Верховного
                        Главнокомандования перебросила войска, оборонявшие Одессу, на&nbsp;защиту Крымского полуострова. С&nbsp;одесского побережья в&nbsp;Крым по&nbsp;морю скрытно переправили 86&nbsp;тыс. солдат и&nbsp;15&nbsp;тыс. жителей Одессы, а&nbsp;также большую часть оборонительной техники. Защитники Одессы на&nbsp;73&nbsp;дня&nbsp;задержали армию врага. Наступающие потеряли более 160&nbsp;тыс. солдат, защитники города уничтожили 200&nbsp;самолётов и&nbsp;100&nbsp;танков противника.</p>

<p align="justify">Но 16&nbsp;октября 1941&nbsp;года город всё&nbsp;же&nbsp;был&nbsp;взят. Однако
    одесситы не&nbsp;сдались &mdash; началась&nbsp;партизанская борьба. Одесскими партизанами было уничтожено 5&nbsp;тыс. солдат и&nbsp;офицеров противника, пущено под&nbsp;откос 27&nbsp;вражеских эшелонов с&nbsp;военной техникой, взорвано 248&nbsp;машин.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Odessa/1_2.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Великая Отечественная война 1941—1945&nbsp;годов. Партизаны, вышедшие из&nbsp;катакомб после освобождения Одессы. 10&nbsp;апреля 1944&nbsp;года.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Одесса была освобождена 10&nbsp;апреля
                        1944&nbsp;года, а&nbsp;1&nbsp;мая&nbsp;1945&nbsp;года&nbsp;в&nbsp;приказе Верховного Главнокомандующего она&nbsp;впервые&nbsp;названа городом&#8209;героем. Официально звание города&#8209;героя было присвоено Одессе в&nbsp;1965&nbsp;году.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        Памятник авиаторам 69-го истребительного полка находится на том самом месте, откуда в далёком 1941 году взлетали герои-истребители на бой с врагом                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/i/images/hero/Odessa/cityodessa.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Odessa/1_4.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Моряки Черноморского флота стоят рядом с&nbsp;Потёмкинской лестницей, с&nbsp;верхних ступеней которой видна панорама Одессы.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Множество памятников и&nbsp;мемориалов
                        Одессы посвящено событиям тех&nbsp;героических лет. На&nbsp;площади&nbsp;&laquo;10&nbsp;апреля&raquo;&nbsp;установлена стела &laquo;Крылья Победы&raquo; &mdash; символ Одессы. Монумент выполнен в&nbsp;виде крыла чайки, увенчанного &laquo;Золотой Звездой&raquo; города&#8209;героя. В&nbsp;честь бойцов партизанского движения в&nbsp;пригороде Одессы создан мемориальный комплекс &laquo;Катакомбы&raquo;. Экспозиция включает памятник &laquo;Народные мстители&raquo; в&nbsp;селе Нерубайское и&nbsp;Музей партизанской славы, распоженный в&nbsp;одесских катакомбах. Скульптурная композиция &laquo;Народные мстители&raquo; изображает группу партизан, выбравшихся из&nbsp;катакомб на&nbsp;боевую операцию.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Odessa/1_0.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Памятник авиаторам 69&#8209;го&nbsp;истребительного полка, которые в&nbsp;годы Великой Отечественной войны 1941—1945&nbsp;годов вылетали на&nbsp;боевые задания из&nbsp;центра Одессы.                </div>

        </div>
    </div>
</div>




                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}