{% extends 'main/layout.html' %}

{% block title %}Севастополь{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                                            <img src="https://may9.ru/upload/i/images/hero/Sevastopol/h6.png"
                             alt="Севастополь"
                             class="img-responsive">
                                    </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0">Севастополь</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article">
                                                <figure><img alt=""
                                                             src="https://may9.ru/upload/RIAN_67396.HR.ru.jpg" style="width: 820px;" />

</figure>

<p align="justify">К началу Великой Отечественной войны город Севастополь был&nbsp;крупнейшим
    советским портом на&nbsp;Чёрном море и&nbsp;главной военно&#8209;морской базой страны.&nbsp;</p>

<hr />
<p align="justify">Героическая защита города от&nbsp;немецко&#8209;фашистской агрессии началась
    30&nbsp;октября 1941&nbsp;года&nbsp;и&nbsp;продолжалась 250&nbsp;дней, войдя в&nbsp;историю как&nbsp;образец активной и&nbsp;длительной обороны приморского города в&nbsp;глубоком тылу врага. Взять Севастополь сразу немцам не&nbsp;удалось. Гарнизон насчитывал 23&nbsp;тыс. человек и&nbsp;имел 150&nbsp;береговых и&nbsp;полевых орудий. Но&nbsp;до&nbsp;лета 1942&nbsp;года гитлеровцы предприняли ещё&nbsp;три&nbsp;попытки захвата города.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img
                            src="https://may9.ru/upload/i/images/hero/Sevastopol/1_4.jpg" style="width: 820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Катер&#8209;охотник. Оборона Севастополя. Снимок был&nbsp;сделан в&nbsp;1941&nbsp;году. Великая Отечественная война 1941—1945&nbsp;годов.

            </div>
        </div>
    </div>
</div>                                    <p align="justify">Первый раз&nbsp;Севастополь подвергся
                        атаке 11&nbsp;ноября 1941&nbsp;года. Немецко&#8209;фашистская армия десять дней пыталась прорваться к&nbsp;городу силой четырёх пехотных дивизий, но&nbsp;безуспешно. Атакующим противостояли силы флота и&nbsp;сухопутных войск Красной Армии, объединённые в&nbsp;Севастопольский оборонительный район. В&nbsp;этом сражении враг потерял 150&nbsp;единиц танковой техники, 131&nbsp;самолёт и&nbsp;около 15&nbsp;тыс. солдат и&nbsp;офицеров. Вторую попытку овладеть городом гитлеровцы предприняли в&nbsp;период с&nbsp;7&nbsp;по&nbsp;31&nbsp;декабря 1941&nbsp;года. На&nbsp;этот раз&nbsp;в&nbsp;их&nbsp;распоряжении было семь пехотных дивизий, две&nbsp;горнострелковые бригады, свыше 150&nbsp;танков, 300&nbsp;самолётов и&nbsp;1275&nbsp;орудий и&nbsp;миномётов. Но&nbsp;и&nbsp;эта&nbsp;попытка провалилась. Защитники Севастополя уничтожили около 40&nbsp;тыс. фашистов и&nbsp;не&nbsp;подпустили врага к&nbsp;городу.</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>3&nbsp;ШТУРМА</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>Севастополя предпринимали фашисты</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>580&nbsp;ТОНН</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>снарядов в&nbsp;сутки расходовали защитники города в&nbsp;первые дни&nbsp;третьего штурма</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Sevastopol/1_1.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Великая Отечественная война 1941—1945&nbsp;годов. Черноморский флот. Истребители гвардейского Краснознамённого авиаполка в&nbsp;небе над&nbsp;Севастополем в&nbsp;1944&nbsp;году.                </div>

        </div>
    </div>
</div>                                    <p align="justify">К концу весны 1942&nbsp;года&nbsp;немцы
                        стянули к&nbsp;Севастополю группировку численностью 200&nbsp;тыс. солдат, 600&nbsp;самолётов, 450&nbsp;танков и&nbsp;более чем&nbsp;2&nbsp;тыс. орудий и&nbsp;миномётов. Им&nbsp;удалось блокировать город с&nbsp;воздуха и&nbsp;увеличить свою активность на&nbsp;море. В&nbsp;результате ожесточённого штурма, ценой огромных потерь гитлеровцам удалось захватить город. <mark>В&nbsp;ходе ожесточённых боёв герои Севастополя нанесли серьёзный урон силам немецко&#8209;фашистских войск и&nbsp;нарушили их&nbsp;планы на&nbsp;южном крыле фронта.</mark></p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Sevastopol/1_2.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Морские пехотинцы во&nbsp;время боя&nbsp;в&nbsp;Севастополе.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Бои за&nbsp;освобождение Севастополя
                        начались 15&nbsp;апреля 1944&nbsp;года, когда наступающие советские войска вышли к&nbsp;оккупированному городу. Особенно ожесточённые сражения велись на&nbsp;участке, прилегающем к&nbsp;Сапун&#8209;горе. 9&nbsp;мая&nbsp;1944&nbsp;года&nbsp;солдаты 4&#8209;го&nbsp;Украинского фронта&nbsp;совместно с&nbsp;моряками Черноморского флота освободили Севастополь. За&nbsp;боевые отличия 44&nbsp;воинам, участвовавшим в&nbsp;боях за&nbsp;Севастополь, было присвоено звание Героя Советского Союза, свыше 39&nbsp;тыс. человек были награждены медалью &laquo;За&nbsp;оборону Севастополя&raquo;. Звание города&#8209;героя Севастополь получил одним из&nbsp;первых 8&nbsp;мая&nbsp;1965&nbsp;года.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        Памятник «Солдат и Матрос» ждал торжественного открытия 35 лет. Он задумывался как часть большого мемориального комплекса                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/i/images/hero/Sevastopol/citySevastopol.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Sevastopol/1_3.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Советские солдаты в&nbsp;освобождённом Севастополе.                </div>

        </div>
    </div>
</div>                                    <p align="justify">В память о&nbsp;героической битве
                        при&nbsp;Сапун&#8209;горе у&nbsp;её&nbsp;подножия в&nbsp;1944&nbsp;году&nbsp;возвели обелиск Славы. На&nbsp;самой горе находится мемориальный комплекс, увековечивший доблестную память о&nbsp;героях&#8209;освободителях Севастополя.</p>

<p align="justify">3&nbsp;ноября 1977&nbsp;года в&nbsp;честь вручения городу&#8209;герою ордена Ленина
    и&nbsp;медали &laquo;Золотая Звезда&raquo; на&nbsp;мысе Хрустальный был&nbsp;открыт обелиск &laquo;Городу&#8209;герою Севастополю&raquo;. Монумент выполнен в&nbsp;виде стилизованного паруса и&nbsp;штыка из&nbsp;монолитного железобетона и&nbsp;альминской плитки.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Sevastopol/1_0.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Обелиск «Городу&#8209;герою Севастополю».                </div>

        </div>
    </div>
</div>                                    <p align="justify">В 1967&nbsp;года&nbsp;в&nbsp;Севастополе
                        на&nbsp;центральной площади имени Нахимова был&nbsp;воздвигнут мемориал, посвящённый доблестной обороне города в&nbsp;годы Великой Отечественной войны. На&nbsp;бетонной стене памятника изображён воин, отражающий два&nbsp;штыка. Штыки символизируют два&nbsp;безуспешных для&nbsp;гитлеровцев штурма в&nbsp;ноябре&mdash;декабре 1941&nbsp;года.&nbsp;В&nbsp;центре мемориала находятся доски из&nbsp;гранита, на&nbsp;которых выгравированы названия боевых частей и&nbsp;соединений Черноморского флота, Приморской армии и&nbsp;севастопольских предприятий, работавших на&nbsp;нужды фронта.</p>




                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}