{% extends 'main/layout.html' %}

{% block title %}Смоленск{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                                            <img src="https://may9.ru/upload/i/images/hero/Smolensk/h12.png"
                             alt="Смоленск"
                             class="img-responsive">
                                    </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0 xs-pt5">Смоленск</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article">
                                                <div
                                                        style="position:relative; height:0; padding-top: 51%;">
                                                    <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/oz1mKDIhg98"
                                                            style="top:0; left:0; width:100%; height:100%; position:absolute"></iframe></div>



<h3 align="justify">С началом Великой Отечественной войны Смоленск оказался на&nbsp;пути главного
    удара фашистских войск, двигающихся на&nbsp;Москву.&nbsp;</h3>

<hr />
<p align="justify">Первой бомбардировке город подвергся 24&nbsp;июня 1941&nbsp;года, а&nbsp;спустя
    четыре дня&nbsp;гитлеровцы совершили вторую массированную воздушную атаку на&nbsp;Смоленск, в&nbsp;результате которой была полностью разрушена центральная часть города.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Smolensk/1_1.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Командир партизанского отряда знакомит бойцов с&nbsp;оружием. Смоленская область, Россия.                </div>
            </div>
        </div>
    </div>
</div>                                    <p align="justify">10&nbsp;июля 1941&nbsp;года&nbsp;началось
                    знаменитое Смоленское сражение, которое продлилось до&nbsp;10&nbsp;сентября. Защищали город войска Западного фронта. Противник превосходил их&nbsp;численностью в&nbsp;живой силе, артиллерии и&nbsp;самолётов (в&nbsp;2&nbsp;раза), а&nbsp;также по&nbsp;количеству танков&nbsp;(в&nbsp;4&nbsp;раза).</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>43&nbsp;стрелковые дивизии</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>участвовало со&nbsp;стороны СССР</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>486&nbsp;тыс.</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>человек составили безвозвратные потери Красной Армии в&nbsp;боях за&nbsp;Смоленск</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Smolensk/1_2.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Бойцы читают текст партизанской клятвы. В&nbsp;первом партизанском отряде под&nbsp;Смоленском.                </div>

        </div>
    </div>
</div>                                    <p align="justify">В городе было сформировано
                    три&nbsp;истребительных батальона и&nbsp;один батальон милиции. Активно помогали советским бойцам и&nbsp;жители Смоленска. Они&nbsp;рыли противотанковые рвы&nbsp;и&nbsp;окопы, сооружали взлётные площадки, строили баррикады и&nbsp;ухаживали за&nbsp;ранеными. Несмотря на&nbsp;героические усилия защитников, 29&nbsp;июля 1941&nbsp;года&nbsp;гитлеровцам удалось войти в&nbsp;город. Оккупация продлилась до&nbsp;25&nbsp;сентября 1943&nbsp;года, но&nbsp;и&nbsp;в&nbsp;течение этих страшных для&nbsp;Смоленска лет&nbsp;его&nbsp;жители продолжали бороться с&nbsp;врагом, создавая партизанские отряды и&nbsp;организации подпольщиков.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Smolensk/1_3.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Девочка с&nbsp;котёнком возле разрушенного дома.                </div>

        </div>
    </div>
</div>                                    <p align="justify"><mark>Важнейшим эпизодом Смоленского
                    сражения была ликвидация Ельнинского выступа.</mark>&nbsp;&nbsp;&nbsp;&nbsp;В&nbsp;ходе её&nbsp;советские войска разгромили пять дивизий фашистов и&nbsp;6&nbsp;сентября 1941&nbsp;года&nbsp;освободили город Ельню, остановив тем&nbsp;самым наступление гитлеровцев на&nbsp;московском направлении. Частям, отличившимся в&nbsp;битве под&nbsp;Ельней, были присвоены звания гвардейских.</p>

<p align="justify">За мужество и&nbsp;героизм, проявленные в&nbsp;тылу врага и&nbsp;в&nbsp;рядах
    Советской Армии, 260&nbsp;уроженцев Смоленской области были удостоены звания Героя Советского Союза и&nbsp;10&nbsp;тыс. партизан и&nbsp;подпольщиков награждены орденами и&nbsp;медалями. Звание города&#8209;героя Смоленску было присвоено 6&nbsp;мая&nbsp;1985&nbsp;года.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        В честь освобождения смоленской земли в 1974 году в центре города-героя Смоленска был установлен мемориальный знак из красного гранита. На нём изображён меняющий огневую позицию артиллерийский расчёт                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/i/city/city7.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Smolensk/1_4.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Великая Отечественная война 1941—1945&nbsp;годов. Смоленск после освобождения от&nbsp;гитлеровских захватчиков. Сентябрь 1943&nbsp;года.                </div>
        </div>
    </div>
</div>                                    <p align="justify">Событиям военных
                    лет&nbsp;в&nbsp;Смоленске посвящено несколько памятников и&nbsp;мемориалов. Среди них&nbsp;&laquo;Курган бессмертия&raquo;, открытый в&nbsp;городском парке 25&nbsp;сентября 1970&nbsp;году. На&nbsp;его&nbsp;вершине установлена 12&#8209;метровая стела в&nbsp;форме книги. Землю для&nbsp;кургана привезли со&nbsp;всех воинских и&nbsp;партизанских кладбищ и&nbsp;братских могил Смоленской области. Перед курганом горит Вечный огонь в&nbsp;память обо&nbsp;всех героях, погибших на&nbsp;смоленской земле.</p>

<p align="justify">Среди памятников города&#8209;героя Смоленска на&nbsp;площади Победы находится
    и&nbsp;единственный в&nbsp;России монумент А.&nbsp;Т.&nbsp;Твардовскому (уроженцу Смоленской области) и&nbsp;его&nbsp;литературному герою Василию Тёркину.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Smolensk/1_0.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Торжественная пионерская линейка на&nbsp;«Кургане бессмертия» в&nbsp;парке Реадовка. Открыт 25&nbsp;сентября 1970&nbsp;года. Автор мемориала Д.&nbsp;П.&nbsp;Коваленко, панно выполнено скульптором В.&nbsp;Я.&nbsp;Меньшовым. Перед «Курганом бессмертия» горит Вечный огонь.                </div>

        </div>
    </div>
</div>                                    <p align="justify">В числе знаменитых героев Смоленска
                    сержант М.&nbsp;А.&nbsp;Егоров, который водрузил знамя Победы над&nbsp;Рейхстагом. Его&nbsp;могила&nbsp;находится у&nbsp;крепостной стены города. В&nbsp;2000&nbsp;году&nbsp;на&nbsp;ней&nbsp;был&nbsp;установлен бюст героя.</p>

<p align="justify">Памятный знак в&nbsp;честь освободителей Смоленска и&nbsp;Смоленской области
    от&nbsp;немецко&#8209;фашистских захватчиков был&nbsp;торжественно открыт 25&nbsp;сентября 1967&nbsp;года на&nbsp;перекрёстке улиц Дзержинского и&nbsp;Октябрьской революции. Общая высота памятного знака &mdash; 2&nbsp;м.</p>




                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}