{% extends 'main/layout.html' %}

{% block title %}Сталинград{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                                            <img src="https://may9.ru/upload/i/images/hero/Stalingrad/h1.png"
                             alt="Сталинград"
                             class="img-responsive">
                                    </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0">Сталинград</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article">
                        <div style="position:relative; height:0; padding-top: 51%;">
                            <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/CpkTPKwMHgA"
                                    style="top:0; left:0; width:100%; height:100%; position:absolute"></iframe></div>


<h3 align="justify">Волгоград (Сталинград) &mdash; один из&nbsp;самых известных и&nbsp;значимых
    городов, носящих звание города&#8209;героя. Летом 1941&nbsp;года&nbsp;немецко&#8209;фашистские войска развернули массированное наступление на&nbsp;южном фронте, стремясь захватить Кавказ, Крым, Придонье, нижнюю Волгу и&nbsp;Кубань &mdash; самые плодородные земли СССР. В&nbsp;первую очередь под&nbsp;удар попал город Сталинград, наступление на&nbsp;который было поручено 6&#8209;й&nbsp;армии под&nbsp;командованием генерал&#8209;полковника Паулюса.</h3>

<hr />
<p align="justify">Советское командование 12&nbsp;июля сформировало Сталинградский фронт, призванный
    остановить наступление войск противника на&nbsp;этом направлении. 17&nbsp;июля 1942&nbsp;года началось одно из&nbsp;самых великих и&nbsp;масштабных сражений в&nbsp;истории Второй мировой войны &mdash; Сталинградская битва. Несмотря на&nbsp;стремление нацистов захватить город как&nbsp;можно быстрее, битва продолжалась 200&nbsp;долгих дней и&nbsp;ночей и&nbsp;стала одной из&nbsp;самых кровопролитных битв в&nbsp;истории человечества.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Stalingrad/1_0.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Скульптуры «Стоять насмерть» (на&nbsp;переднем плане) и&nbsp;«Родина&#8209;мать зовёт!» памятника&#8209;ансамбля «Героям Сталинградской битвы» на&nbsp;Мамаевом кургане (1960—1967&nbsp;годы).                </div>

        </div>
    </div>
</div>                                    <p align="justify">Первое наступление на&nbsp;город
                        состоялось 23&nbsp;августа 1942&nbsp;года. На&nbsp;защиту города были направлены милиционеры, моряки Волжского флота, войска НКВД, курсанты и&nbsp;добровольцы. В&nbsp;ту&nbsp;же&nbsp;ночь немцы совершили первый авианалёт на&nbsp;город, а&nbsp;25&nbsp;августа в&nbsp;Сталинграде было введено осадное положение. <mark>В народное ополчение записалось около 50&nbsp;тыс. добровольцев из&nbsp;числа горожан.</mark>&nbsp;&nbsp;&nbsp;&nbsp;Несмотря на&nbsp;непрерывные обстрелы и&nbsp;бомбардировки, заводы Сталинграда продолжали работать и&nbsp;выпускать танки, &laquo;катюши&raquo;, пушки, миномёты и&nbsp;огромное количество снарядов.</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>135&nbsp;СУТОК</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>шла&nbsp;битва за&nbsp;Мамаев курган</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>1,5&nbsp;ТЫС.</mark>
                                                    </h2>
                                                    <h3>
                                                        <strong>орудий защищало город</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Stalingrad/1_1.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Великая Отечественная война 1941—1945&nbsp;годов. Город Сталинград после освобождения от&nbsp;немецко&#8209;фашистских захватчиков 2&nbsp;февраля 1943&nbsp;года.                </div>

        </div>
    </div>
</div>                                    <p align="justify">12&nbsp;сентября 1942&nbsp;года враг
                        вплотную подошёл к&nbsp;городу. Два&nbsp;месяца ожесточённых оборонительных боёв нанесли немцам существенный урон: враг потерял около 700&nbsp;тыс. человек убитыми и&nbsp;ранеными, а&nbsp;19&nbsp;ноября 1942&nbsp;года началось контрнаступление советских войск.</p>

<p align="justify">Наступательная операция продолжалась 75&nbsp;дней, и&nbsp;в&nbsp;январе
    1943&nbsp;года&nbsp;враг под&nbsp;Сталинградом был&nbsp;окружён и&nbsp;полностью разбит. Фашистские захватчики были окружены, а&nbsp;фельдмаршал фон&nbsp;Паулюс с&nbsp;остатками армии сдался в&nbsp;плен. За&nbsp;всё&nbsp;время наступления и&nbsp;обороны немецкая армия потеряла более 1,5&nbsp;млн&nbsp;человек.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Stalingrad/1_2.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Великая Отечественная война 1941—1945&nbsp;годов. Советские солдаты ведут бой&nbsp;на&nbsp;территории Сталинградского завода «Красный Октябрь» в&nbsp;мартеновском цехе № 1. Декабрь 1942&nbsp;года.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Сталинград был&nbsp;одним из&nbsp;первых
                        назван городом&#8209;героем. Это&nbsp;почётное звание было впервые озвучено в&nbsp;Приказе Главнокомандующего от&nbsp;1&nbsp;мая&nbsp;1945&nbsp;года. Медаль &laquo;За&nbsp;оборону Сталинграда&raquo; стала символом мужества защитников города.</p>

<p align="justify">В городе&#8209;герое Волгограде находится множество памятников, посвящённых Великой
    Отечественной войне. Среди них&nbsp;знаменитый мемориальный комплекс на&nbsp;Мамаевом кургане &mdash; возвышенности на&nbsp;правом берегу Волги. Во&nbsp;время битвы за&nbsp;Сталинград здесь шли&nbsp;самые ожесточённые бои. На&nbsp;Мамаевом кургане захоронено примерно 35&nbsp;тыс.&nbsp;воинов&#8209;героев. Для&nbsp;увековечивания памяти павших здесь в&nbsp;1959&nbsp;году&nbsp;был&nbsp;сооружён&nbsp;мемориал &laquo;Героям Сталинградской битвы&raquo;.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        Скульптура «Родина-мать зовёт!» является композиционным центром памятника-ансамбля «Героям Сталинградской битвы» на Мамаевом кургане                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/RIAN_40339%201.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Stalingrad/1_3.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Надписи на&nbsp;стене дома Павлова в&nbsp;Сталинграде (ныне Волгоград): «Мать Родина! Здесь героически сражались с&nbsp;врагом гвардейцы Родимцева: Илья Воронов, Павел Демченко, Алексей Аникин, Павел Довисенко» и&nbsp;«Этот дом&nbsp;отстоял гвардии сержант Яков Федотович Павлов!». 1943&nbsp;год. Великая Отечественная война 1941—1945&nbsp;годов.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Главным&nbsp;архитектурным сооружением
                        Мамаева кургана является 85&#8209;метровый монумент &laquo;Родина&#8209;мать зовёт!&raquo;. Памятник изображает женщину с&nbsp;мечом в&nbsp;руке, которая призывает к&nbsp;борьбе с&nbsp;врагом.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Stalingrad/1_4.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Площадь у&nbsp;Центрального универмага в&nbsp;Сталинграде после разгрома фашистов. 1943&nbsp;год. Великая Отечественная война 1941—1945&nbsp;годов.                </div>

        </div>
    </div>
</div>                                    <p align="justify">Старинная мельница Гергардта (мельница
                        Грудинина) &mdash; ещё&nbsp;один немой свидетель мужественной борьбы защитников города&#8209;героя Волгограда. Это&nbsp;разрушенное здание, которое не&nbsp;восстанавливают в&nbsp;память о&nbsp;военном Сталинграде.</p>




                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}