{% extends 'main/layout.html' %}

{% block title %}Тула{% endblock %}

{% block content %}
<div class="page-block pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2 js-sticky" data-sticky-top="100">
                                            <img src="https://may9.ru/upload/i/images/hero/Tula/h10.png"
                             alt="Тула"
                             class="img-responsive">
                                    </div>
                <div class="col-sm-10 col-xs-10">
                    <h1 class="mt0 xs-pt5">Тула</h1>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="article">
                                                <div
                                                        style="position:relative; height:0; padding-top: 51%;">
                                                    <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/T6s0J0Lv3Yw"
                                                            style="top:0; left:0; width:100%; height:100%; position:absolute"></iframe></div>



 <h3 align="justify">К октябрю 1941&nbsp;года фашистским захватчикам, мечтавшим о&nbsp;захвате Москвы, удалось довольно далеко продвинуться в&nbsp;глубь России, что&nbsp;объяснялось большим преимуществом в&nbsp;живой силе и&nbsp;боевой технике.</h3>

<hr />
 <p align="justify">Войска генерала Гудериана перед выходом к&nbsp;Туле взяли город Орёл, который был&nbsp;застигнут врагом врасплох. До&nbsp;Тулы оставалось всего 180&nbsp;км,&nbsp;причём в&nbsp;городе не&nbsp;было никаких войсковых частей, кроме одного полка НКВД, который охранял работающие здесь на&nbsp;всю&nbsp;мощность оборонные заводы, 732&#8209;го&nbsp;зенитно&#8209;артиллерийского полка, прикрывающего город с&nbsp;воздуха, и&nbsp;истребительных батальонов, состоящих из&nbsp;рабочих и&nbsp;служащих.</p>


                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Tula/1_1.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Зенитный расчёт готов к&nbsp;отражению танковой атаки на&nbsp;улицах Тулы.                </div>

        </div>
    </div>
</div>                                     <p align="justify">Ввиду этого Ставка перебросила к&nbsp;Туле 5&#8209;й&nbsp;воздушно&#8209;десантный корпус и&nbsp;34&#8209;й&nbsp;пограничный полк, который охранял тыл&nbsp;Брянского фронта. <mark>В пригороде Тулы сразу же&nbsp;вспыхнули кровопролитные бои,&nbsp;так&nbsp;как&nbsp;Тула была очередным этапом наступления гитлеровцев на&nbsp;Москву и&nbsp;крупнейшим центром оборонной промышленности.</mark></p>

 <p align="justify">После того, как&nbsp;немцы захватили Орёл, Тула была переведена на&nbsp;военное положение. В&nbsp;городе были созданы рабочие истребительные отряды, командовали которыми герои своего города шахтёр Г.&nbsp;А.&nbsp;Агеев и&nbsp;капитан А.&nbsp;П.&nbsp;Горшков. Жители города опоясали Тулу лентами окопов, внутри города выкопали противотанковые рвы,&nbsp;установили надолбы и&nbsp;ежи,&nbsp;построили баррикады и&nbsp;опорные пункты. Одновременно велась активная работа по&nbsp;эвакуации оборонных заводов.</p>

<hr />


                                                                                                                                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h2>
                                                        <mark>43&nbsp;ДНЯ</mark>
                                                    </h2>
                                                     <h3>
                                                        <strong>Тула находилась в&nbsp;окружении</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-sm-5">
                                                    <h2>
                                                        <mark>1156&nbsp;ШТ.</mark>
                                                    </h2>
                                                     <h3>
                                                        <strong>снайперских винтовок было произведено во&nbsp;время осады города</strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dark">

                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Tula/1_2.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Солдаты ведут наблюдение из&nbsp;окопа на&nbsp;улицах Тулы.                </div>

        </div>
    </div>
</div>                                     <p align="justify">Фашисты бросили на&nbsp;Тулу отборные войска: три&nbsp;танковые и&nbsp;одну моторизованную дивизии и&nbsp;полк &laquo;Великая Германия&raquo;. Вражеским силам мужественно противостояла&nbsp;рабочая гвардия, а&nbsp;также чекисты и&nbsp;зенитчики.</p>

 <p align="justify">Несмотря на&nbsp;самые ожесточённые атаки, в&nbsp;которых участвовало со&nbsp;стороны противника около сотни танков, фашистам так&nbsp;и&nbsp;не&nbsp;удалось пробиться к&nbsp;Туле ни&nbsp;на&nbsp;одном участке фронта. Только за&nbsp;один день защитники города сумели уничтожить 31&nbsp;вражеский танк и&nbsp;истребить много живой силы врага.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Tula/1_3.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Советские офицеры разрабатывают план боевых действий во&nbsp;время Великой Отечественной войны.                </div>

        </div>
    </div>
</div>                                     <p align="justify">В городе кипела жизнь. Телефонная станция помогала в&nbsp;налаживании связи между вышедшими из&nbsp;окружения частями Советской Армии, госпитали принимали раненых, на&nbsp;заводах ремонтировалась техника и&nbsp;оружие, защитники Тулы снабжались провиантом и&nbsp;тёплой одеждой.</p>

 <p align="justify">И город выстоял! Враг не&nbsp;смог его&nbsp;захватить. За&nbsp;мужество, проявленное в&nbsp;боях, около 250&nbsp;жителей Тулы были удостоены звания &laquo;Герой Советского Союза&raquo;. 7&nbsp;декабря 1976&nbsp;года Тула получила звание города&#8209;героя с&nbsp;присвоением&nbsp;медали &laquo;Золотая Звезда&raquo;.</p>
                                                                                                                                            <div class="city-inner">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="city-inner__h">
                                                        Скульптурная группа «Солдат и рабочий» высотой 4 метра является частью памятника «Героическим защитникам Тулы». Памятник открыт 16 октября 1968 года                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 city-inner__wrap">
                                                    <div class="city-inner__img">
                                                        <img class="img-responsive"
                                                             src="https://may9.ru/upload/i/images/hero/Tula/tula.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Tula/1_4.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Советские солдаты на&nbsp;огневой позиции на&nbsp;окраине города Тулы. Снимок был&nbsp;сделан в&nbsp;декабре 1941&nbsp;года.                </div>

        </div>
    </div>
</div>                                     <p align="justify">Событиям Великой Отечественной войны в&nbsp;городе&#8209;герое Туле посвящено несколько памятных мемориалов. На&nbsp;площади Победы воздвигнут монумент в&nbsp;честь героев&#8209;защитников. Он&nbsp;представляет собой 4&#8209;метровую парную скульптуру солдата и&nbsp;ополченца, стоящих плечом к&nbsp;плечу с&nbsp;автоматами в&nbsp;руках. Скульптурная группа установлена на&nbsp;невысокий постамент, на&nbsp;котором высечены слова: &laquo;Героическим защитникам Тулы, отстоявшим город в&nbsp;1941&nbsp;году&raquo;.</p>



                                                                    <div class="label-wrap">
    <div class="label-img">
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <img src="https://may9.ru/upload/i/images/hero/Tula/1_0.jpg"
                         style="width:820px;">
                </figure>
            </div>
                <div class="label-img__text" align="justify">
                    Памятник защитникам Тулы в&nbsp;годы Великой Отечественной войны на&nbsp;площади Победы. Архитекторы Б.&nbsp;И.&nbsp;Дюжев, Н.&nbsp;Н.&nbsp;Миловидов, Г.&nbsp;Е.&nbsp;Саевич. Репродукция.                </div>

        </div>
    </div>
</div>                                     <p align="justify">Рядом с&nbsp;этими фигурами взметнулись над&nbsp;площадью стальные обелиски в&nbsp;виде трёх штыков высотой 31, 41&nbsp;и&nbsp;51&nbsp;метр, символизирующих непобедимость русского оружия и&nbsp;советского народа&#8209;героя. В&nbsp;этот ансамбль входит Вечный огонь, зажжённый от&nbsp;Вечного огня на&nbsp;Могиле Неизвестного Солдата в&nbsp;Москве.</p>

 <p align="justify">Другой мемориал, посвящённый воинам, погибшим при&nbsp;обороне города&#8209;героя Тулы, находится на&nbsp;проспекте Ленина. Памятник выполнен в&nbsp;виде металлической женской фигуры высотой 3,8&nbsp;метра и&nbsp;немного изогнутой бетонной стелы, на&nbsp;которой размещены мраморные таблички с&nbsp;именами павших героев.</p>




                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}