{% extends 'main/layout.html' %}

{% block title %}Города-герои{% endblock %}

{% block content %}
<div class="page-block pb0">
    <div class="container">
            <div class="row-title">
            <div class="col-md-8">
                <h1 class="mt0">Города-герои</h1>
            </div>
                <div class="col-md-2"></div>
            </div>
        <div class="row-main">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="article">
                    <div class="article__inner wysiwyg"
                         style=" position: relative; top: 20px;">
                        <h3 class="article__inner"
                            style="font-size: 30px;" align="justify">
                            Когда в&nbsp;июне 1941&nbsp;года фашистская Германия обрушила на&nbsp;нашу страну всю&nbsp;мощь своих армий, на&nbsp;их&nbsp;пути могучими бастионами встали советские города. Кровопролитная борьба шла&nbsp;буквально за&nbsp;каждую пядь земли на&nbsp;подступах к&nbsp;ним,&nbsp;за&nbsp;каждый квартал и&nbsp;за&nbsp;каждый дом. Особо отличившимся городам за&nbsp;массово проявленные мужество и&nbsp;героизм их&nbsp;защитников впоследствии было присвоено высшее звание «Город&#8209;герой».
                        </h3>
                        <hr />
                        <p dir="ltr" style="font-size: 20px;" align="justify">
                            Впервые городами&#8209;героями были названы в&nbsp;Приказе Верховного Главнокомандующего от&nbsp;1&nbsp;мая&nbsp;1945&nbsp;года города Ленинград, Севастополь, Одесса и&nbsp;Сталинград, а&nbsp;Киев &mdash; в&nbsp;Указе Президиума Верховного Совета СССР от&nbsp;21&nbsp;июня 1961&nbsp;года. Так&nbsp;советское правительство отметило важный вклад в&nbsp;итоговую победу всех героических защитников этих городов. Многим из&nbsp;них&nbsp;ещё&nbsp;во&nbsp;время войны были вручены специально учреждённые медали.
                        </p>
                        <p dir="ltr" style="font-size: 20px;" align="justify">
                            В 1965&nbsp;году, в&nbsp;канун 20&#8209;летия Победы в&nbsp;Великой Отечественной войне, было утверждено Положение о&nbsp;почётном звании &laquo;Город&#8209;герой&raquo;. Его&nbsp;присвоили шести городам. Кроме тех,&nbsp;что&nbsp;уже&nbsp;были отмечены в&nbsp;приказах 1945&nbsp;и&nbsp;1961&nbsp;годов, городом&#8209;героем стала Москва, а&nbsp;Брестской крепости присвоено звание &laquo;Крепость&#8209;герой&raquo;. В&nbsp;1973&nbsp;году высшее звание &laquo;Город&#8209;герой&raquo; присвоили Новороссийску и&nbsp;Керчи, в&nbsp;1974&#8209;м&nbsp;&mdash; Минску, в&nbsp;1976&#8209;м&nbsp;&mdash; Туле. В&nbsp;год&nbsp;40&#8209;летия Победы (1985) звания &laquo;Город&#8209;герой&raquo; удостоились Смоленск и&nbsp;Мурманск.
                        </p>
                        <hr class="qwerty">
                    </div>

                    <div class="article__more">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <div class="wysiwyg"
                                     style="font-style: italic; position: relative; top: 10px; left: 33px;">
                                    <p align="justify">
                                        Согласно Положению от 8 мая 1965 года, городу-герою вручается орден Ленина и медаль «Золотая Звезда», которые разрешено размещать на флаге и гербе города. Также в этих городах устанавливался памятный обелиск с текстом наградного указа и изображением медали.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 xs-mt40">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img class="img-main-1"
                                             src="https://may9.ru/i/heroic/heroic-01.png" style="position: relative; left: 30px; width: 120px;">
                                    </div>
                                    <div class="col-xs-6">
                                        <img class="img-main-2"
                                             src="https://may9.ru/i/heroic/heroic-02.png" style="position: relative; left: 180px; top: -130px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
