body {
    background-color: rgba(255,225,225,1);
    font-family: 'Verdana', sans-serif;
}

aside {
    position: sticky;
    top: 0;
    float: left;
    background-color: rgba(255, 50, 10, 0.5);
    width: 17%;
    padding: 0.5%;
    height: 100vh;
    color: FireBrick;
    border-right: 5px solid FireBrick;
}

aside .main {
    position: relative;
    margin-left: 4px;
    list-style: none;
    color: FireBrick;
    font-size: 34px;
    padding-top: 10%;
    padding-left: 3.5%;
    position: relative;
    top: 30px;
    font-weight: bold;

}

aside span a, aside span li{
    text-decoration: none;
    transition: transform .6s ease;
}

aside span a:hover, aside span li:hover {
    color: FireBrick;
    transform: scale(1.02);
}

aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul {
    list-style: none
}

aside ul li, aside ul a{
    color: #fff;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    transition: transform .6s ease;
    font-size: 20px;
}

aside ul li:hover, aside ul a:hover {
    color: FireBrick;
    text-decoration: none;
    transform: scale(1.02);
}

main .row-title {
    display: block;
    position: relative;
    color: darkorange;
    left: 500px;
}

main h1 {
    position: relative;
    top: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

main .img-responsive {
    position: relative;
    left: 100px;
    top: 15px;
}

main .row-main{
    display: block;
    position: relative;
    top: 30px;
    left: 250px;
}

main mark{
    color: #fff;
    background: FireBrick;
}

main p{
    font-size: 17px;
}

main .label-img__text{
    font-style: italic;
    color: dimgray;
    position: relative;
    top: -8px;
}

hr {
    position: relative;
    display: block;
    background: red;
    border: none;
    height: 3px;
    margin: 50px 0;
}

main .qwerty{
    position: relative;
    display: block;
    background: red;
    border: none;
    height: 3px;
    margin: 50px 0;
    left: 33px;
    width: 96.5%;
}

.city-inner__h {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: FireBrick;
    padding: 55px 0;
}

.city-inner__img {
    position: relative;
    display: block;
    left: -100px;
    top: -50px;
}

.row .article h3{
    position: relative;
    padding-top: 3%;
    font-weight: bold;
}

.mt0{
    color: FireBrick;
}